<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="5">
    <parameter name="URL" value="google.com"/>
    <parameter name="TOKEN" value="ab34yux"/>
    <listeners>
        <listener class-name="listeners.Listener"></listener>
    </listeners>
    <test name="Beneficiary">
        <classes>
            <class name="beneficiaries.Beneficiary">
                <methods>
                    <exclude name="deleteBeneficiary"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Contributions">
        <classes>
            <class name="contribution.Contribution">
                <methods>
                    <include name="add.*"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Enrollments">
        <classes>
            <class name="enrollments.Enrollments"/>
        </classes>
    </test>
    <test name="notifications">
        <classes>
            <class name="notifications.Notifications"/>
        </classes>
    </test>
</suite>